.index-body {
  margin: 0 auto;
  background-color: #FCF4F4;
  font-size: 12px;
  line-height: 1.5;
  color: #1a1919;
  letter-spacing: 1px;
  font-weight: 400;

}



.index-heading {
  margin: 40px;
}

.grid-index {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.dress-index-card{
  text-align: bottom;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-collapse: collapse;
  border-radius: 5px;
}

.dress-index-info{
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  background: white;
  font-family: HelveticaNeueW01-65Medi,sans-serif;
  a {
    text-decoration: none;
    color: black;
  }
  p {
    background: white;
    margin: 0;
  }
}

.dress-index-image{
  padding: 0px 0px 0px 0px;
  img {
    padding: 20px 10px;
    border-radius: 15px;
  }
  .dress-index-image {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

}

@media (max-width: 768px) {
  .grid-index {
    grid-template-columns: 1fr 1fr
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .grid-index {
    grid-template-columns: 1fr 1fr 1fr
  }
}

.grid-with-map {
  margin-left:60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

}

#map {
  position: sticky;
  top: 0;


}
