<div class="banner">
  <h1>Rent my dress</h1>
  <p>Never wear the same thing twice.</p>
  <button type="button" class="btn btn-outline-light">Pick now</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 text-center">
      <%= image_tag 'black_dress.jpeg', class: 'dress-img'%>
    </div>
    <div class="col-4 text-center">
      <%= image_tag 'bridesmaid_dress.jpeg', class: 'dress-img'%>
    </div>
    <div class="col-4 text-center">
      <%= image_tag 'grey_dress.jpeg', class: 'dress-img'%>
    </div>
  </div>
</div>


<div class="third-container">



</div>
