<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>Search form</p>

<p><%= link_to "Link to category 1", dresses_path %></p>
<p><%= link_to "Link to category 2", dresses_path %></p>
<p><%= link_to "Link to category 3", dresses_path %></p>
