.home-button {
  padding: 10px 30px;
  color: #f2f2f2;
  text-decoration: none;
  a {
    text-decoration: none;
    color: #f2f2f2;
  }
  a:hover {
    text-decoration: none;
    color: grey;
  }
}

