<h1>Index page for dresses</h1>
<% @dresses.each do |dress| %>
  <p><%= dress.name %></p>
  <% if dress.photo.attached? %>
    <%= cl_image_tag dress.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>

  <% end %>
  <%= link_to dress.name, dress_path(dress) %>
<% end %>
</br>
<%= link_to "Add dress", new_dress_path, class: "btn btn-primary" %>
