<!DOCTYPE html>
<html>
  <head>

  </head>
<body>
  <h2>All Dresses</h2>

  <div class="grid">
    <% @dresses.each do |dress| %>
      <div class="dress-card">

      <% if dress.photo.attached? %>
      <div class="dress-image">
        <%= cl_image_tag dress.photo.key, height: 350, width: 250, crop: :fill %>
      </div>
      <% else %>
      <% end %>
      <div class="dress-info">
      <%= link_to dress.name, dress_path(dress) %>
      </br>
      <p>£ <%= dress.price/100 %></p>
      </div>

      </div>
    <% end %>

  </div>
  </br>
  <%= link_to "Add dress", new_dress_path, class: "btn btn-primary" %>
  </body>
</html>
<!-- end of file -->
