<h1>Dresses Index</h1>

<div class="grid">
  <% @dresses.each do |dress| %>
    <div class="dress-card">

    <% if dress.photo.attached? %>
      <%= cl_image_tag dress.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
    <% end %>
    <%= link_to dress.name, dress_path(dress) %>
    </br>
    <p>£ <%= dress.price/100 %></p>

    </div>
  <% end %>

</div>
</br>
<%= link_to "Add dress", new_dress_path, class: "btn btn-primary" %>
